*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #edeef0;
}

header{
    height: 50px;
    width: 100%;
    margin: 0 auto;
    /*background-color: #222222;*/
    background-color: #ffffff;
}

.headers-container{
    height: 50px;
    width: 50%;
    margin: 0 auto;
}
.headers-container a{
    display: flex;
    line-height: 50px;
    text-decoration: none;
    color: black;
}
.headers-container p{
    font-family: Arial, serif;
    font-weight: 600;
    font-size: 17pt;
    margin-left: 5px;
}
.logo{
    width: 30px;
    height: 30px;
    margin: auto 0;
}
main{
    /*background-color: #141414;*/
    background-color: #edeef0;
    height: 700px;
}
.container{
    width: 50%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left-big{
    width: 60%;
    height: 100%;
    /*background-color: lightblue;*/
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.left-big > h4 {
    /*color: white;*/
    color: black;
    font-size: 18pt;
    font-family: Arial, serif;
    text-align: center;
}
.left-big > p {
    /*color: #bbbbbb;*/
    color: #626d7a;
    font-size: 10pt;
    font-family: Arial, serif;
    text-align: center;
    margin-top: 10px;
}
.left-big a{
    text-decoration: none;
    color: #2d6397;
    padding: 10px;
    margin: 0 auto;
    font-family: Arial, serif;
    font-size: 10pt;
}
.pics-of-phones{
    /*background-color: antiquewhite;*/
    height: 60%;
    width: 70%;
    margin: 6% auto 2% auto;
    display: flex;
}
.buttons-for-mob-markets{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.right-big{
    width: 40%;
    height: 100%;
    /*background-color: lightgreen;*/
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
}
.right-big a{
    font-family: Arial, serif;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    color: #818c99;
}
.right-big-auth{
    border-radius: 15px;
    background-color: white;
    width: 75%;
    height: 60%;
    margin: 0 auto;
}
.right-big-reg{
    border-radius: 15px;
    background-color: white;
    width: 75%;
    height: 30%;
    margin: 5% auto;
}
.phone-black{
    position: relative;
    height: 96%;
    width: 45%;
    z-index: 0;
}
.phone-white{
    position: relative;
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 7%;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1.5% auto;
}
footer a{
    text-decoration: none;
    color: #2d6397;
    padding: 0 5px 0 5px;
    margin: 0 auto;
    font-family: Arial, serif;
    font-size: 10pt;
}
.VK span{
    font-family: Arial, serif;
    font-size: 10pt;
    color: #626d7a;
}