*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #edeef0;
}

header{
    height: 50px;
    width: 100%;
    margin: 0 auto;
    /*background-color: #222222;*/
    background-color: #ffffff;
}

.headers-container{
    height: 50px;
    width: 53%;
    margin: 0 auto;
}
.headers-container a{
    display: flex;
    line-height: 50px;
    text-decoration: none;
    color: black;
}
.headers-container p{
    font-family: Arial, serif;
    font-weight: 600;
    font-size: 17pt;
    margin-left: 5px;
}
.logo{
    width: 30px;
    height: 30px;
    margin: auto 0;
}
main{
    /*background-color: #141414;*/
    background-color: #edeef0;
    height: 700px;
}
.container{
    width: 55%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-big{
    width: 70%;
    height: 100%;
    /*background-color: lightblue;*/
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
}
.left-big > h4 {
    /*color: white;*/
    color: black;
    font-size: 18pt;
    font-family: Arial, serif;
    text-align: center;
}
.left-big > p {
    /*color: #bbbbbb;*/
    color: #626d7a;
    font-size: 10pt;
    font-family: Arial, serif;
    text-align: center;
    margin-top: 10px;
}
.left-big a{
    text-decoration: none;
    color: #2d6397;
    margin: 0 auto;
    font-family: Arial, serif;
    font-size: 10pt;
}
.pics-of-phones{
    /*background-color: antiquewhite;*/
    height: 60%;
    margin: 6% auto 2% auto;
    display: flex;
    text-align: center;
    padding-left: 30px;
}
.buttons-for-mob-markets{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.buttons-for-mob-markets > a{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}


.buttons-for-mob-markets > a:hover{
    color: #256ec0;
    background-color: #ebf1f9;
    text-decoration: none;
}

.right-big{
    width: 50%;
    height: 100%;
    /*background-color: lightgreen;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2.5%;
}
.right-big a{
    font-family: Arial, serif;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    color: #818c99;
}
.right-big-auth{
    border-radius: 15px;
    background-color: white;
    width: 75%;
    height: 60%;
    margin: 0 auto;
}

.phone-black{
    position: relative;
    height: 96%;
    z-index: 0;
}
.phone-white{
    position: relative;
    height: 100%;
    z-index: 1;
    right: 7%;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1.5% auto;
}
footer a{
    text-decoration: none;
    color: #2d6397;
    padding: 0 5px 0 5px;
    margin: 0 auto;
    font-family: Arial, serif;
    font-size: 10pt;
}
.VK span{
    font-family: Arial, serif;
    font-size: 10pt;
    color: #6b727c;
}
a:hover{
    text-decoration: underline;
}


.right-big-reg{
    border-radius: 15px;
    background-color: white;
    width: 75%;
    height: 33%;
    margin: 0 auto;
    font-family: Tahoma, serif;
    padding: 32px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-big-reg > button{
    padding: 0 16px;
    text-align: center;
    height: 36px;
    width: 100%;
    border-radius: 8px;
    font-size: 11pt;

}
.create-acc{
    background-color: #45ce45;
    border: none;
    color: white;
}
.create-acc:hover{
    opacity: .88;
}
.create-acc:active{
    padding-top: 2px;
}

.acc-for-business{
    background-color: transparent;
    border: 2px solid #2182af;
    color: #2182af;
}

.acc-for-business:hover{
    background-color: #eeeeee;
    color: #186380;
}
.acc-for-business:active{
    padding-top: 2px;
}

.right-big-reg > p {
    font-size: 10.5pt;
    color: #adacb6;
}
.right-big-reg > a {
    font-size: 10.5pt;
    color: #939393;
}

.right-big-auth{
    padding: 32px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo2{
    height: 50px;
    width: auto;
    margin: 0 auto;
}
.auth-text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: Arial, serif;
}

.login-form > button{
    padding: 0 16px;
    text-align: center;
    height: 36px;
    width: 100%;
    border-radius: 8px;
    font-size: 11pt;
    background-color: #0076fe;
    border: none;
    color: white;
    margin-top: 20px;
}

.login-form > button:hover{
    opacity: .88;
}
.login-form > button:active{
    padding-top: 2px;
}
.email{
    height: 36px;
    width: 100%;
    border-radius: 8px;
    background-color: #f0f2f5;
    border: 1px solid grey;
    padding-left: 15px;
}
.save{
    margin-top: 12px;
    display: flex;
    align-items: center;
    width: 120px;
    height: 10px;
}
.save > label {
    padding-left: 8px;
    color: #86919d;
    font-size: 11pt;
    cursor: default;
}
.save:hover{
    cursor: pointer;
}

.qr-panel{
    width: 100%;
    height: auto;
    padding-top: 20px;
    margin-top: 24px;
    margin-bottom: -8px;
    border-top: 0.5px solid #d3d3d3;
    display: flex;
    flex-direction: row;
}
.qr-image > img{
    height: 80px;
    width: auto;
}

.qr-texts{
    margin-left: 8px;
    margin-top: 6px;
    flex-flow: column;
    justify-content: center;
    text-align: left;
}
.qr-texts > a{
    color: #2d81e0;
}

.span-bold{
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-family: Arial, serif;
    font-weight: bold;
    margin-bottom: 4px;
}
.span-light{
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-family: Arial, serif;
    margin-bottom: 6px;
    color: #6d7885;
}

.all-products{
    width: 100px;
    margin: 2% auto;
}

.all-products > a{
    display: flex;
    flex-direction: row;
}

.all-products > a:hover{
    text-decoration: none;
}

.all-products:hover span{
    text-decoration: underline;
}

.arrow{
    position: relative;
    left: 5px;
    font-weight: bold;
    transition-duration: 0.1s;
}
.all-products:hover .arrow{
    transition-duration: 0.1s;
    text-decoration: none;
    left: 8px;
}